<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EmpresasPartner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
     <listener-class>
          com.sun.xml.ws.transport.http.servlet.WSServletContextListener
     </listener-class>
  </listener>
  <servlet>
    <servlet-name>EmpresaVentaEntradas</servlet-name>
    <servlet-class>
	        com.sun.xml.ws.transport.http.servlet.WSServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaVentaEntradas</servlet-name>
    <url-pattern>/EmpresaVentaEntradas</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpresaPagoFactura</servlet-name>
    <servlet-class>
	        com.sun.xml.ws.transport.http.servlet.WSServlet
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaPagoFactura</servlet-name>
    <url-pattern>/EmpresaPagoFactura</url-pattern>
  </servlet-mapping>
  
	<security-constraint>
		<display-name>Partners</display-name>
		<web-resource-collection>
			<web-resource-name>EmpresasPartner</web-resource-name>
			<url-pattern>/EmpresaVentaEntradas</url-pattern>
			<!--http-method>GET</http-method>
			<http-method>POST</http-method-->
		</web-resource-collection>
		<auth-constraint>
		    <!-- crear un usuario con role middleware en tomcat-users.xml (dentro de la instalacion
		         del tomcat) para poder loguearse -->
			<description>Usuario servidor central</description>
			<role-name>middleware</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>middleware</realm-name>
	</login-config>
</web-app>